.time-schedule h5{
  font-size: 14px;
  margin: 0;
  padding: 5px 0px;
}
.select-onoffline {
  width: 100%;
  display: inline-block;
  padding: 10px 0px 0px;
  text-align: center;
}
.select-onoffline  p{
  width: 35%;
  float: left;
    margin: 0px;
}
button.cstm-btn {
  background: #00b7ee!important;
  display: inline-block;
  color: #fff;
  padding: 6px 29px;
  border-radius: 5px;
  font-size: 14px;
}