<ion-header>
  <!-- <ion-toolbar> -->
    <div class="head">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img  src="../../../assets/images/manu.png" alt="" class="manu-icon">
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">
        Just Imagine
    </ion-title>
    <div class="notification">
      <a routerLink="/notifications">
        <!-- <img src="/assets/images/notification-icon.png" alt=""> -->
        <i class="fa fa-bell-o"></i>
      <span>2</span>
      </a>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="container product-list">
    <div class="row">
      <div class="col-6">
        <div class="product">
        <img src="../../../assets/images/video.png" alt="" />
        <a href="#" class="product-name">Videos</a>
        </div>
      </div>
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/marchendise.png" alt="" />
        <a href="/products" class="product-name">Merchandise</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/progress.png" alt="" />
        <a href="/brands" class="product-name">Progress Report</a>
        </div>
      </div>
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/just-imagin.png" alt="" />
        <a href="/categories" class="product-name">My Profile</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/event.png" alt="" />
        <a href="#" class="product-name">Events</a>
        </div>
      </div>
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/appoitment.png" alt="" />
        <a href="#" class="product-name">Appointments</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/sucess.png" alt="" />
        <a href="#" class="product-name">Success Stories</a>
        </div>
      </div>
      <div class="col-6 ">
        <div class="product">
        <img src="../../../assets/images/cart.png" alt="" />
        <a href="#" class="product-name">Cart</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>